<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">S Y M B O L S</title>
		<meta name="description" content="Pogody is a responsive HTML5 coming soon template by theme-nerds." />
		<meta name="keywords" content="Pogody, Responsive Coming Soon Template, Under Construction Template, Responsive Template, HTML5 Template, themeforest.net, Bootstrap, HTML5, Creative, Landing Page, Sass, Clean, Design, Modern, Angular js, MailChimp Subscription," />
		<meta name="author" content="theme-nerds" />
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body data-ng-app="contactApp">
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="pad-zero">
			
			<!--Splitlayout -->
			<div id="splitlayout" class="splitlayout reset-layout">
				
				<!--Intro-->
				<div class="intro">
					
					<!--Left Content Intro-->
					<div class="side side-left">
						
						<!--About Nav-->
						<div class="call-to-action about">
								<i class="fa fa-info fa-2x"></i>	
								<i class="fa fa-times fa-2x opacity-hide"></i>	
								<span class="top"></span>
								<span class="right"></span>
								<span class="bottom"></span>
								<span class="left"></span>
						</div>
						<!--/About Nav-->
						
						<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center content-wrap">
						
						<!--Logo-->
						<div class="logo align-center text-left"><img src="img/logo.jpg" alt="logo">
						</div>
						<!--/Logo-->
						
						<!--main content-->
						<div class="main">
							
							<!--Content with Typing Intro-->
							<section id="home" class="section active">
								<div  class="preloader"></div>
								<div class="align-center text-left">
									<span class="small-hr animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="200"></span>
									<p class="animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="300">We are busy working on something awesome.</p>
									<div class="type-wrap text-left">
										<h1  class="animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="900"><span id="typed" ></span></h1>
									</div>
									
									<div class="notify-btn main-menu">
										<a  href="#contact" class="btn btn-default animated fadeInLeft" data-hover="Notify me" data-animation="fadeInLeft" data-animation-delay="1000" data-out-animation="fadeInLeft" data-out-animation-delay="600" data-toggle="modal" data-target="#notify-my"><span class="button-label text-left">Notify me</span><span class="arrow-wrap"><span class="arrow"></span></span></a>
									</div>
								</div>		
							</section>
							<!--/Content with Typing Intro-->
							
							<!--Notify Form-->
							<section id="contact" class="section text-left">
								<div  class="preloader"></div>	
								<div class="main-menu">
									<a class="close-notify black" href="#home" data-animation="fadeInDown" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="100">
										<div class="call-to-action">
											<i class="fa fa-times fa-2x"></i>	
											<span class="top"></span>
											<span class="right"></span>
											<span class="bottom"></span>
											<span class="left"></span>
										</div>
									</a>
								</div>
								
								<!--CONTENT CHANGED & <br> ADDED-->								
								<div class="notify-wrap">
									<h3 class="wellcome-text" data-animation="fadeInLeft" data-animation-delay="900" data-out-animation="fadeOutLeft" data-out-animation-delay="100" data-ng-bind="notify || 'hello..'">Hello..</h3>
									<form id="notifyMe" class="contact-form" action="notify-me.php" method="post">
										<div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="900">
											<input  data-ng-model="notify" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="email" placeholder="email address"  type="email">
											<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
										</div>	
										<button type="submit" data-hover="Send" class="btn btn-default progress-button btn-submit " data-animation="fadeInUp" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="1300">
										<span><span class="arrow-wrap"><span class="arrow"></span></span></span>
										</button>
									</form>
								</div>
							</section>
							<!--/Notify Form-->
													
							<div class="copyright">
								<ul class="social-icons">
									<li>
										<a href="" class="social-icon">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="" class="social-icon">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="" class="social-icon">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="" class="social-icon">
											<i class="fa fa-behance"></i>
										</a>
									</li>
								</ul>
								<p>S Y M B O L S 2016</p>
							</div>
						</div>
						<!--/main content-->
						
						</div>
					</div>
					<!--/Left Content Intro-->
					
					<!--Right Content Intro-->
					<div class="side side-right">
						<div class="layer clouds">
							<div class="cloud cloud-1">
								<img src="img/cloud-1.png" width="1600" height="850" alt="">
							</div>
							
							<div class="cloud cloud-2">
								<img src="img/cloud-2.png" width="1600" height="850" alt="">
							</div>
							
							<div class="cloud cloud-3">
								<img src="img/cloud-1.png" width="1600" height="850" alt="">
							</div>
						</div>
						<!--Contect Nav-->
						<div class="call-to-action contact">
								<i class="fa fa-envelope fa-2x"></i>
								<i class="fa fa-times fa-2x opacity-hide"></i>
								<span class="top"></span>
								<span class="right"></span>
								<span class="bottom"></span>
								<span class="left"></span>
						</div>
						<!--/Contect Nav-->
						
						<div class="counter-content">
							<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center text-left">
								<p class="tagline">We are building an innovative iOS application to distrupt the services industry </p>
								
								<!--Counter-->
								<div id="countdown">
								<span class="days">00</span>
								</div>
								<span class="small-hr"></span>
								<span class="remain-days">More Days</span>
								<!--/Counter-->
								
							</div>	
						</div>
					<div class="trans-overlay-dark"></div>	
					</div>
					<!--/Right Content Intro-->
				</div>
				<!--/Intro-->
				
				<!--About Section-->
				<div class="page page-left">
					<div  class="page-inner full-height">
						<div class="container align-center detail-info">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<h3>About</h3>
								</div>	
								<div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
									<p class="tagline">We handcraft unique design & digital experiences to surprise the universe.</p>
									<span class="small-hr"></span>
									<p class="align-center">Pogody is a Modern & Innovative Responsive Coming Soon Template by theme-nerds. Loaded with outstanding effects that catches user's eye creating a subconscious mental interaction through color, font, effects, layout, icons & every pixel on the screen.</p>
									
									<!--Client Slider-->
									<div id="qualities">
										<div class="qualities"> 
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-cog"></i></span>
												<span class="qual-tag">Swift</span>
												<span class="qual-desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-gavel"></i></span>
												<span class="qual-tag">Node</span>
												<span class="qual-desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-sitemap"></i></span>
												<span class="qual-tag"> Mongo</span>
												<span class="qual-desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-space-shuttle"></i></span>
												<span class="qual-tag">HTML5</span>
												<span class="qual-desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-soundcloud"></i></span>
												<span class="qual-tag"> Mailchimp</span>
												<span class="qual-desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-trophy"></i></span>
												<span class="qual-tag"> Ajax</span>
												<span class="qual-desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
												</span>
											</div>
										</div>
									</div>
									<!--/Client Slider-->
								</div>	
								
								<!--Team Slider-->
								<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-7 col-md-8 col-sm-8 col-xs-9 team-sec">
									<p class="tagline">Our Team</p>
									<span class="small-hr"></span>
									<div id="team">
										<div class="team" class="owl-carousel"> 
											<div class="item">
												<div class="team-img-wrap">
													<img src="img/benfish.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> Ben Fisher</span>
												<span class="desg"> ceo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/charlie.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> Charlie Marjot</span>
												<span class="desg"> co founder											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/josh.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> Joshua D'Acres</span>
												<span class="desg"> Co Founder										</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/stan.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> Stanley Roberts</span>
												<span class="desg"> Co Founder										</span>
											</div>
										
										</div>
									</div>
								</div>	
								<!--/Team Slider-->
							</div>
						</div>
						<div class="trans-overlay-dark-about"></div>
					</div>		
				</div>
				<!--/About Section-->
				
				<!--Contact Section-->
				<div class="page page-right">
					<div  class="page-inner full-height">
						<div class="container align-center detail-info">
							<div class="row">
							<div data-ng-controller="ContactController" class="panel-body">
								<h3 class="col-lg-12 col-xs-9" data-ng-bind="formData.inputName || 'Get in touch...'">Hello..</h3>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
									<form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class="form-horizontal" role="form">
										<div class="form-group input--hoshi" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
													<span><span class="arrow-wrap"><span class="arrow"></span></span></span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
								<div class="col-lg-3 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-9">
									<div class="align-center address-detail">
									<p> Office Location.</p>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-phone"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="callto:954788315970" target="_blank">+44</a>
									</div>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="thesymbolsgroup@gmail.com" target="_blank">thesymbolsgroup@gmail.com</a>
									</div>
									<div class="col-lg-12  pad-left-zero map">
									<a class="" href="" target="_blank">
										<span class="">get directions</span><span class="go-arrow"></span>
									</a>	
									</div>
									</div>
								</div>	
								<!--Google Map-->
								<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387157.48218081944!2d-73.97968099999999!3d40.703312749999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1441524964182" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.47339309016!2d-0.24167948707160256!3d51.52855824363711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon!5e0!3m2!1sen!2suk!4v1467218320827" width="2000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
								<!--/Google Map-->
							</div>
							</div>
						</div>
							
						<div class="trans-overlay-dark-contact"></div>	
            		</div>
				</div>
				<!--/Contact Section-->
				
			</div>
			<!-- /Splitlayout -->
		
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/input-text.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
